# **Emerging Skills Survey**

Stack Overflow, a popular website for developers, conducted an online survey of software professionals across the world. The survey data was later open sourced by Stack Overflow. The actual data set has around 90,000 responses. However, the dataset used in this project is only a subset of the original (containing only around 1/10th of the original dataset). Any conclusions drawn from the analysis of this subset may not reflect the real world scenario.

<img src="https://github.com/za-mntungwa/emergingTechSkills/blob/5fb0b3118c6811c096513e626457e32df2fe2492/stackOverflow.png?raw=true" width=80%/>

## Load the dataset

Import the required libraries.

In [5]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [6]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

Load the data available at dataset_url into a dataframe.

In [7]:
df = pd.read_csv(dataset_url)

## Exploring the dataset

### Displaying the top 5 rows and columns from the dataset.

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset looks.

In [ ]:
df.head(5)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

### Finding out the number of rows and columns

We then continue by exploring the number of rows and columns of data in the dataset.

In [ ]:
# number of rows
df.shape[0]

11552

In [ ]:
# number of columns
df.shape[1]

85

### Identify the data types of each column

We explore the dataset futher, and identify the data types of each column.

In [ ]:
df.dtypes

Respondent       int64
MainBranch      object
Hobbyist        object
OpenSourcer     object
OpenSource      object
                 ...
Sexuality       object
Ethnicity       object
Dependents      object
SurveyLength    object
SurveyEase      object
Length: 85, dtype: object

### Identify the countries of the survey respondents

The dataset is the result of a world-wide survey, thus as we continue to explore we identify how many unique countries there are in the Country column. We further analyse the average age of the respondents.

In [ ]:
# number of unique countries
print(len(pd.unique(df['Country'])))

In [ ]:
# average age of participants
df.loc[:, "Age"].mean()

30.77239449133718

## Data Wrangling

### Handling duplicates

Here, we will identify and remove duplicate values in the dataset.

In [8]:
# find duplicate rows in the dataset
duplicated_rows = df[df.duplicated()]
len(duplicated_rows)

154

In [ ]:
# remove duplicate rows from the dataset
df.drop_duplicates(inplace=True)

In [ ]:
# verify if duplicates were removed
duplicated_rows = df[df.duplicated()]
len(duplicated_rows)

### Finding missing values

In this cell, we identify missing values for all columns.

In [ ]:
# identify missing values for all columns
df.columns[df.isnull().any()]

In [ ]:
# identify missing rows in the 'WorkLoc' column
df['WorkLoc'].isnull().sum()

In [ ]:
# find the number of each category in 'WorkLoc' column
df['WorkLoc'].value_counts()

In [ ]:
#find the most frequent value in 'WorkLoc' column
df['WorkLoc'].mode()

In [ ]:
# impute the missing values in the 'WorkLoc' column with the most frequent value
df['WorkLoc'].fillna('Office', inplace=True)

In [ ]:
# verify if imputing was successful
df['WorkLoc'].isnull().sum()

### Normalizing the data

There are two columns in the dataset that address compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this cell we will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

In [ ]:
# list the various categories in 'CompFreq' column
df.CompFreq.value_counts().index

We use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is:
- Yearly then use the exising value in CompTotal
- Monthly then multiply the value in CompTotal with 12 (months in an year)
- Weekly then multiply the value in CompTotal with 52 (weeks in an year)

In [ ]:
# normalize the 'CompTotal' column to annual basis
norm_annual_comp = []

for i in range(len(df)):
    
    if df['CompFreq'].iloc[i] == 'Weekly':
        norm_annual_comp.append(df['CompTotal'].iloc[i]*52)
    elif df['CompFreq'].iloc[i] == 'Monthly':
        norm_annual_comp.append(df['CompTotal'].iloc[i]*12)
    else:
        norm_annual_comp.append(df['CompTotal'].iloc[i]*1)

df['NormalizedAnnualCompensation']= norm_annual_comp
df.head()

## Exploratory Data Analysis

### Distribution

In this section, we look at the distribution of the data.

The column `ConvertedComp` contains Salary converted to annual USD salaries using the exchange rate on 2019-02-01.

This assumes 12 working months and 50 working weeks.

In [ ]:
# plot the distribution curve for the column `ConvertedComp`.
import piplite
await piplite.install('seaborn')
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

sns.displot(df['ConvertedComp'], 'ConvertedComp', hist = False, kde = True)
plt.show()

In [ ]:
# plot the histogram for the column 'ConvertedComp'
df['ConvertedComp'].plot.hist(bins=12, alpha=0.5)

In [ ]:
# find the median of the column 'ConvertedComp'
df['ConvertedComp'].median()

In [ ]:
# how many records are there for each category of the 'Gender' column
df['Gender'].value_counts()

In [ ]:
# find the median of the column 'ConvertedComp' for people identified as 'Woman' only
df[df['Gender'].eq('Woman')]['ConvertedComp'].median()

In [ ]:
# find the five number summary of the column 'Age'
df['Age'].describe()

In [ ]:
# plot a histogram of the column 'Age'
df['Age'].plot.hist(bins=12, alpha=0.5)

### Outliers

In this section, we evaluate if there are outliers in the data.

In [ ]:
# box plot the column 'ConvertedComp'
sns.boxplot(x=df['ConvertedComp'])

In [ ]:
# find the interquartile range for the column 'ConvertedComp'
df['ConvertedComp'].describe()

Q1 = df['ConvertedComp'].quantile(0.25)
Q3 = df['ConvertedComp'].quantile(0.75)
IQR = Q3 - Q1
print('Interquartile range is', IQR)

In [ ]:
# find the upper and lower bounds for the column 'ConvertedComp'
Q4 = Q3 + IQR*1.5
Q0 = Q1 - IQR*1.5
print('Upper bound:', Q4)
print('Lower bound:', Q0)

In [ ]:
# identify how many outliers there are in the column 'ConvertedComp'
outliers = 0

for conv_comp in df['ConvertedComp']:
    if (conv_comp < Q0) or (conv_comp > Q4):
        outliers = outliers + 1

outliers

In [ ]:
# remove the outliers from the dataframe
outl_index = df[(df.ConvertedComp < Q0) | (df.ConvertedComp > Q4)].index

df_outl = df.drop(outl_index)
df_outl.shape

### Correlation

In [ ]:
# find the correlation between 'Age' and all other numerical columns
df.corr()['Age']

## Data Visualisation

### Visualising Relationships

In [ ]:
# scatterplot of 'Age' and 'WorkWeekHrs' columns
Age = pd.read_sql_query(QUERY2, conn)
WWH = pd.read_sql_query('SELECT WorkWeekHrs FROM master', conn)

Query3 = """
SELECT Age, WorkWeekHrs
FROM master
"""
Age_WWH = pd.read_sql_query(Query3, conn)
plt.scatter(x = Age, y = WWH)

plt.show()

In [ ]:
# bubble plot of 'WorkWeekHrs' and 'CodeRevHrs' columns with 'Age' as bubble size
CRH = pd.read_sql_query('SELECT CodeRevHrs FROM master', conn)

Query4 = """
SELECT WorkWeekHrs, CodeRevHrs
FROM master
"""
Age_WWH = pd.read_sql_query(Query4, conn)
plt.scatter(x = WWH, y = CRH, s = Age, alpha=0.5)

plt.show()

### Visualising Composition

#### Pie Charts

In [ ]:
# top 5 databases that respondents wish to learn the following year
Query5 = """
SELECT DatabaseDesireNextYear as Database, count(*) as No_of_respondents
FROM DatabaseDesireNextYear
GROUP BY DatabaseDesireNextYear 
ORDER BY No_of_respondents DESC LIMIT 5"""

db_df = pd.read_sql_query(Query5, conn)

db_df.plot(kind = 'pie', labels = db_df['Database'], y = 'No_of_respondents',
figsize = (7,10), #dimension of the chart window
autopct='%1.1f%%', #autopct displays percentages in pie chart. so .1f% rounds to 1 decimal place.
colors = ['blue', 'green', 'red', 'yellow', 'pink'], #colours of the pie chart items
startangle = 60) #start Angle implies that we can rotate the pie chart according to the degree angle we specify  
plt.title('Top 5 databases that respondents wish to learn next year')

plt.show()

#### Stacked Charts

In [ ]:
# chart of median 'WorkWeekHrs' and 'CodeRevHrs' columns for the age group 30 to 35
Query6 = """
SELECT WorkWeekHrs, CodeRevHrs, Age
FROM master
WHERE Age BETWEEN 30 AND 35
"""
stacked_df = pd.read_sql_query(Query6, conn)

stacked_df = stacked_df.groupby('Age')[['WorkWeekHrs', 'CodeRevHrs']].median()

stacked_df.plot(kind = 'bar', stacked=True, figsize = (7,7))
plt.xlabel('Age')
plt.ylabel('Hours')
plt.title('Median hours by age')

plt.show()

## Visualising Comparison

In [ ]:
# median 'ConvertedComp' for all ages from 45 to 60
Query7 = """SELECT ConvertedComp, Age
FROM master
WHERE Age BETWEEN 25 AND 30
"""
line_df = pd.read_sql_query(Query7, conn)

line_df.plot(kind = 'line', figsize = (5,5))
plt.xlabel('cc')
plt.ylabel('age')
plt.title('Median ConvertedComp for all ages from 45 to 60')

plt.show()